server:
  # Server bind address
  address: "${HTTP_BIND_ADDRESS:0.0.0.0}"
  # Server bind port
  port: "${HTTP_BIND_PORT:9090}"
  servlet:
    context-path: /api

management:
  security:
    enabled: false
  server:
    port: ${MANAGEMENT_SERVER_PORT:8080}

spring:
  application:
    name: mock-api-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ProjectData
    username: postgres
    password: Korada@2025
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org:
      springframework: "INFO"
