name: Deploy Mock API via GitOps

on:
  push:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  deploy:
    uses: syntaxnow-labs/workflow-platform/.github/workflows/deploy-gitops.yml@main
    with:
      app_name: mock-api-service
      branch: ${{ github.ref_name }}
      environment: dev
      gitops_repo: syntaxnow-labs/gitops
    secrets:
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
      GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}
